# Netscape HTTP Cookie File
# Place your Bilibili cookies here (export from browser)
# Rename this file to bilibili.txt after filling in cookies
# Format: domain	flag	path	secure	expiration	name	value
.bilibili.com	TRUE	/	FALSE	0	SESSDATA	your_sessdata_here
.bilibili.com	TRUE	/	FALSE	0	bili_jct	your_bili_jct_here
